@media(max-width: 1130px) {
    .main {
        flex-direction: column;
        align-items: center;
    }
    
    .section-news {
        max-width: 80%;
        margin-bottom: 30px;
    }
    
    .section-news img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .main-items {
        max-width: 80%;
        justify-content: space-evenly;
    }
    
    .section-items {
        max-width: 40%;
    }
    
    .section-items:nth-child(1), .section-items:nth-child(2) {
        margin-bottom: 30px;
    }
}

@media(max-width: 775px) {
    header nav {
        flex-wrap: wrap;
    }
    
    header nav ul {
        flex-wrap: wrap;
    }
}

@media(max-width: 775px) {
    .footer-content {
        flex-direction: column;
    }
    
    .footer-content form {
        margin-bottom: 30px;
    }
}

@media(max-width: 576px) {
    .section-items {
        max-width: 80%;
    }
    
    .section-items:nth-child(3) {
        margin-bottom: 30px;
    }
}